[user]
	name = Ngie Cooper
	email = yaneurabeya@gmail.com
[alias]
	mm = !"git merge master"
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[push]
	default = matching
[merge]
	defaultToUpstream = 1
